# Dependencies
node_modules

# Next.js build output
.next/
out/

# Other build artifacts
dist/
build/

# Environment variables
.env*
!.env.example

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml 